* {
  padding: 0;
  margin: 0;
}

body {
  background: whitesmoke;
  font-family: cursive;
}

html,
body {
  height: 100%;
}

:root {
  --color-main: wheat;
}

.container {
  position: relative;
  height: 100%;
}

.header {
  width: 100%;
  display: flex;
  background: var(--color-main);
}

.nav-header {
  display: flex;
  justify-content: center;
  width: inherit;
  align-items: center;
}

.logo {
  margin-right: 10px;
  height: 6.25em;
}

.img-logo {
  padding: 5px;
}

.boton {
  margin: 0 5px;
  border: 1px solid rgb(255, 208, 119);
  background-size: 100% 500%;
  background-image: linear-gradient(to top, rgb(255, 239, 209) 80%, wheat 50%);
  transition: background-position 1s;
  border-bottom: 0;
  border-top: 0;
  color: black;
  padding: 10px;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 20px;
  transition: background-position 1.5s;
}

.boton:hover {
  background-position: 0;
  text-decoration: underline;
}

#rectangulo {
  background: rgb(255, 239, 209);
  width: 55%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  height: fit-content;
  margin-left: 450px;
  position: relative;
}
#rectangulo:first-child {
  padding-top: 30px;
}

.nota {
  background: white;
  display: inline-block;
  height: 400px;
  width: fit-content;
  margin: 30px;
  margin-top: 0;
  border-radius: 20px;
}

.imagen-cuadro {
  object-fit: cover;
  float: left;
  height: 100%;
  width: 50%;
}

.derecha {
  width: 40%;
  float: right;
}

h2 {
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 10px;
  user-select: none;
}

.resumen {
  width: 100%;
  margin: 10px -30px;
}

.resumen span {
  word-wrap: break-word;
  user-select: none;
}

.footer {
  display: flex;
  align-items: center;
  background: var(--color-main);
  height: 6em;
  position: relative;
}

.nav-footer {
  width: 10%;
  display: inline-block;
  text-align: center;
  margin-left: 50px;
}

.nav-footer a {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  transition: opacity 0.5s;
  border-radius: 20px;
}

.nav-footer .fb {
  background: url(../imagenes/fb4.png) center center;
  object-fit: cover;
}

.nav-footer .ig {
  background: url(../imagenes/ig4.png) center center;
  object-fit: cover;
}

.nav-footer a:hover {
  opacity: 0.6;
}

.frase-footer {
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
