* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(#2b1055, #7597de);
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 30px 100px;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

header .logo {
  font-size: 4.5em;
  color: rgb(218, 7, 7);
  font-family: "Zen Tokyo Zoo", cursive;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

header ul li a:hover,
header ul li a.activo {
  background: #28114e;
  color: #833bf7;
}

section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 1000;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section img#cabezas {
  mix-blend-mode: luminosity;
  z-index: 10;
}

#titulo {
  position: absolute;
  font-size: 10vh;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 9;
  animation: desaparecer 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#titulo::first-letter {
  font-size: 2em;
  color: rgb(218, 7, 7);
  font-family: "Zen Tokyo Zoo", cursive;
  font-weight: 500;
}

.sec {
  position: relative;
  padding: 100px;
  background: #1c0522;
  font-family: Arial, Helvetica, sans-serif;
}

.sec h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}

.sec p {
  font-size: 1.2em;
  color: #fff;
}

@keyframes desaparecer {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
