body {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.item-card {
  display: inline-block;
  width: 250px;
  background: rgb(209, 237, 247);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23), 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  margin: 16px;
  padding-bottom: 16px;
}

.total-card {
  width: 250px;
  background: rgb(209, 237, 247);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23), 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  margin: 16px;
  padding-bottom: 16px;
}

h2 {
  color: #505050;
  font-size: 24px;
  padding: 16px 0 16px 13px;
  margin: 0;
}

.item-cover {
  border-radius: 8px 8px 0 0;
  height: 250px;
  width: 250px;
}

.fila {
  margin-left: 16px;
  margin-bottom: 16px;
}

.fila-final {
  margin-left: 16px;
}

.subtitulo {
  display: inline-block;
  color: #959799;
  font-size: 16px;
}

.precio {
  display: inline-block;
  color: seagreen;
  font-size: 24px;
  margin-left: 16px;
  margin-top: 10px;
}

.contador {
  display: inline-block;
  width: 110px;
  height: 20px;
  background: white;
  border-radius: 30px;
  padding: 10px 0;
  margin-left: 10px;
  position: relative;
}

.menos {
  position: absolute;
  top: 13px;
  left: 5px;
  cursor: pointer;
  user-select: none;
  width: 15px;
  height: 15px;
}

.mas {
  position: absolute;
  top: 13px;
  right: 5px;
  cursor: pointer;
  user-select: none;
  width: 15px;
  height: 15px;
}

.cantidad {
  display: inline-block;
  width: 110px;
  text-align: center;
  color: #959799;
  font-size: 18px;
  line-height: 20px;
  user-select: none;
}

.boton-agregar {
  height: 48px;
  margin: 16px 16px 0 16px;
  background: #6686d9;
  text-align: center;
  color: white;
  line-height: 48px;
  border-radius: 24px;
  cursor: pointer;
  user-select: none;
}

.division {
  height: 2px;
  background: #bfbfbf;
  margin-bottom: 16px;
}
