#boton {
  display: inline-block;
  background-color: green;
  color: white;
  padding: 16px;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: sans-serif;
  cursor: pointer;
  user-select: none;
}
