* {
  padding: 0;
  margin: 0;
}

body {
  background: wheat;
  font-family: cursive;
}

html,
body {
  height: 100%;
}

.container {
  position: relative;
  height: 100%;
}

.header {
  position: relative;
  background: rgb(248, 205, 126);
  height: 110px;
  width: 100vw;
  text-align: center;
}

.logo {
  background: url(../imagenes/Opcion3.png) center center no-repeat;
  width: 95px;
  height: 95px;
  display: inherit;
  position: absolute;
  margin-left: 50px;
  top: 10%;
}

.logo span {
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  display: inline-block;
  font-size: 30px;
  text-decoration: none;
  color: #fe5c47;
  left: 100px;
  background: transparent;
  padding: 15px 40px;
  border-radius: 25px;
  border: 1px solid black;
  font-weight: bold;
  margin: 18px 0 0 20px;
  transition: opacity 0.5s, box-shadow 0.5s, font-size 0.5s;
  user-select: none;
}

.btn:hover {
  font-size: 35px;
  opacity: 1;
  box-shadow: 5px 5px 10px black;
}

.hero {
  width: 100%;
  height: calc(100% - 210px);
}

.hero ul {
  width: 100%;
  height: 100%;
  position: relative;
}

.img1,
.img2,
.img3,
.img4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity 2s;
  opacity: 0;
}

.img1 {
  background: url(../imagenes/img1.jpg) center center no-repeat;
  background-size: cover;
}

.img2 {
  background: url(../imagenes/img2.jpg) center center no-repeat;
  background-size: cover;
}

.img3 {
  background: url(../imagenes/img3.jpg) center center no-repeat;
  background-size: cover;
}

.img4 {
  background: url(../imagenes/img4.jpg) center center no-repeat;
  background-size: cover;
}

.footer {
  width: 100%;
  height: 100px;
  background: rgb(248, 205, 126);
  text-align: center;
  position: fixed;
  bottom: 0;
}

.frase {
  position: relative;
  top: 5px;
  font-size: 20px;
  text-transform: uppercase;
  user-select: none;
}

.redes {
  height: 40px;
  margin-top: 15px;
  text-align: left;
  display: inline-flex;
  position: relative;
  right: 550px;
  top: 20px;
}

.redes a {
  display: inline-block;
  height: 100%;
  width: 40px;
  margin-right: 20px;
  text-decoration: none;
  outline: none;
  border-radius: 20px;
  transition: opacity 0.5s;
}

.redes a:hover {
  opacity: 0.5;
}

.fb {
  background: url(../imagenes/fb.png);
  background-size: cover;
}

.ig {
  background: url(../imagenes/ig.png);
  background-size: cover;
}
