* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  background: wheat;
  font-family: cursive;
  height: auto;
}

:root {
  --color-main: rgb(245, 221, 178);
}

.container {
  height: auto;
}

.header {
  width: 100%;
  display: flex;
  background: var(--color-main);
}

.nav-header {
  display: flex;
  justify-content: center;
  width: inherit;
  align-items: center;
}

.logo {
  margin-right: 10px;
  height: 6.25em;
}

.img-logo {
  padding: 5px;
}

.boton {
  margin: 0 5px;
  border: 1px solid rgb(255, 208, 119);
  background-size: 100% 500%;
  background-image: linear-gradient(to top, #efefef 80%, wheat 50%);
  transition: background-position 1s;
  border-bottom: 0;
  border-top: 0;
  color: black;
  padding: 10px;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 20px;
  transition: background-position 1.5s;
}

.boton:hover {
  background-position: 0;
  text-decoration: underline;
}

.hero {
  height: auto;
  width: 100%;
  display: flex;
  min-height: 100vh;
}

.buscador_base {
  width: inherit;
  background: #fff;
  display: flex;
  padding-top: 10px;
}

.buscador {
  width: 80%;
  height: 30px;
  border: none;
  border-bottom: 1px solid var(--color-main);
  margin: 10px;
  font-size: 18px;
  transition: border-bottom 0.1s;
  text-align: center;
  border-radius: 5px;
}

.buscador:focus {
  outline: none;
  border-bottom: 3px solid var(--color-main);
  text-align: left;
}

.btn_buscador {
  margin-top: 10px;
  height: 30px;
  margin: auto;
  background: var(--color-main);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 5px;
  transition: all 0.1s;
}

.btn_buscador:hover {
  border: 2px solid var(--color-main);
  background: #fff;
}

.lupa {
  padding: 5px;
}

.desaparecer {
  display: none !important;
}

.category_container {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
}

.category_name {
  background: var(--color-main);
  width: fit-content;
  display: flex;
  margin: 10px 0px 0 15px;
  border-radius: 10px;
}

.category_name:hover {
  background: rgba(214, 178, 111, 0.8);
  cursor: pointer;
}

.category_name img {
  margin-left: auto;
}
.category_name span {
  padding-right: 5px;
  padding-left: 10px;
  user-select: none;
}

.nav {
  width: 25em;
}

.nav_link {
  color: #303440;
  display: block;
  padding: 15px 0;
  text-decoration: none;
}

.nav_link--inside {
  border-radius: 6px;
  padding-left: 10px;
}

.nav_link--inside:hover {
  background: #f6f8fa;
}

.list {
  width: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: white;
  padding-top: 35px;
}

.list_item {
  list-style: none;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.list_item--click {
  cursor: pointer;
}

.list_buttom {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 80%;
  margin: 0 auto;
}

.list__arrow {
  margin-left: auto;
  transition: transform 0.3s;
}

.arrow .list__arrow {
  transform: rotate(90deg);
}

.list__show {
  width: 80%;
  margin-left: auto;
  border-left: 2px solid #303440;
  list-style: none;
  transition: height 0.4s;
  height: 0;
}

.restaurants {
  width: 90vw;
  display: inline-block;
  background: #efefef;
}
.tarjeta {
  background: #ffcd6f;
  display: inline-block;
  margin: 1.875em;
  margin-left: 8.125em;
  margin-right: 0;
  height: 34.375em;
  width: 21.875em;
  box-shadow: 0px 4px 23px 5px rgba(248, 205, 126, 0.5);
}
.tarjeta .img-lugar {
  height: 250px;
  width: 350px;
  object-fit: cover;
}

.tarjeta .h2 {
  text-align: center;
  background: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  width: 250px;
  margin-left: 40px;
  margin-top: 15px;
  box-shadow: 0px 4px 23px -2px rgba(0, 0, 0, 0.33);
}

.tarjeta ul {
  list-style: none;
  margin: 10px;
  margin-top: 20px;
  font-size: 17px;
}

.tarjeta ul li {
  padding: 10px;
}

.tarjeta .contactos {
  width: 100%;
  height: 50px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.tarjeta .contactos a {
  height: 50px;
  width: 50px;
  margin-left: 10px;
  transition: opacity 0.5s;
}

.tarjeta .contactos a:hover {
  opacity: 0.3;
}

.tarjeta .contactos .entrar {
  background: white;
  margin-left: 80px;
  margin-bottom: 5px;
  padding: 10px;
  width: 100px;
  height: auto;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.tarjeta .contactos .facebook {
  background: url(../imagenes/facebook.png);
  background-size: cover;
}

.tarjeta .contactos .facebook:hover {
  background: url(../imagenes/facebook.png) #139ef8;
  opacity: 1;
  background-size: cover;
  border-radius: 6px;
}

.tarjeta .contactos .instagram {
  background: url(../imagenes/instagram.png);
  background-size: cover;
}

.tarjeta .contactos .instagram:hover {
  background: url(../imagenes/instagram.png) rgb(225, 48, 108);
  opacity: 1;
  background-size: cover;
  border-radius: 7px;
}

.footer {
  display: flex;
  align-items: center;
  background: var(--color-main);
  height: 6em;
  position: relative;
}

.nav-footer {
  width: 10%;
  display: inline-block;
  text-align: center;
  margin-left: 50px;
}

.nav-footer a {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  transition: opacity 0.5s;
  border-radius: 20px;
}

.nav-footer .fb {
  background: url(../imagenes/fb4.png) center center;
  object-fit: cover;
}

.nav-footer .ig {
  background: url(../imagenes/ig4.png) center center;
  object-fit: cover;
}

.nav-footer a:hover {
  opacity: 0.6;
}

.frase-footer {
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
