#boton {
  background: green;
  color: white;
  padding: 16px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: sans-serif;
  cursor: pointer;
  user-select: none;
  display: inline-block;
}

.boton-hijo {
  margin: 16px 0;
  width: fit-content;
  background: blue;
  color: white;
  padding: 16px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: sans-serif;
  cursor: pointer;
  user-select: none;
}
